<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title ? "#{data.page.title} | #{default_title_helper}" : default_title_helper %></title>
    <meta name="keywords" content="<%= default_keywords_helper %>">
    <meta name="description" content="<%= default_description_helper %>">
    <!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/images/favicons/apple-touch-icon-precomposed.png">
    <!-- favicon -->
    <link rel="icon" href="/images/favicons/favicon.ico" type="image/x-icon" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!-- GA BEGIN -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37809843-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- GA END -->
</head>
<body>
  <!--[if lt IE 7]>
    <div class="row">
      <div class="twelve columns">
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      </div>
    </div>
  <![endif]-->
  
  <div class="row">
    <div class="three columns">
      <h1>
        <%= link_to image_tag("http://placehold.it/400x100&amp;text=Logo"),  "/" %>
      </h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar">
        <%= partial "partials/main_links" %>
      </ul>
    </div>
  </div>
  
  <!-- Nav Bar -->

  <div class="row">
    <div class="twelve columns">
      <div class="row">
        <div class="eight columns">
          <h2>
            <small><%= default_long_description_helper %></small>
          </h2>
        </div>
        <div class="four columns">
          <% if content_for?(:subscribe_panel) %>
            <%= yield_content :subscribe_panel %>
          <% else %>
            <%= partial "partials/subscribe_box" %>
          <% end %>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <!-- End Nav -->


  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="nine columns" role="content">
      <% if is_blog_article? # show blog %>
        <h1><%= current_article.title %></h1>
        <h6><%= current_article.date.strftime('%m.%d.%Y') %>, <%= link_to "0 comments", "/#{current_article.path}#disqus_thread" %></h6>
        
        <div class="row">
          <div class="eight columns">
            <p><%= yield %></p>
          </div>
          <div class="four columns">
            <img src="<%= current_article.data.main_image || "http://placehold.it/200x150&text=[img]" %>" alt="<%= current_article.title %>" />
          </div>
        </div>
        
        <div class="row">
          <div class="twelve columns">
            <ul class="inline-list">
              <% current_article.tags.each do |tag| %>
                <li><a href="<%= tag_path tag %>"><%= tag %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
        
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'rwpod'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->

    <aside class="three columns">

      <h5>Архив</h5>
      <ul class="side-nav">
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><a href="<%= blog_year_path year %>"><%= year %> (<%= articles.size %>)</a></li>
        <% end %>
      </ul>

      <div class="panel">
        <h5>Featured</h5>
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
        <a href="#">Read More &rarr;</a>
      </div>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; <%= default_footer_copyright_helper %></p>
        </div>
        <div class="six columns">
          <ul class="inline-list right">
            <%= partial "partials/main_links" %>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- disqus count -->
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'rwpod'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>

</body>
</html>
