<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <title>
      <% if content_for?(:title) %>
        <%= yield_content(:title).blank? ? default_title_helper : "#{yield_content(:title)} | #{default_title_helper}" %>
      <% else %>
        <%= data.page.title ? "#{data.page.title} | #{default_title_helper}" : default_title_helper %>
      <% end %>
    </title>
    <meta name="keywords" content="<%= default_keywords_helper %>">
    <meta name="description" content="<%= default_description_helper %>">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152-precomposed.png" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144-precomposed.png" />
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114-precomposed.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72-precomposed.png" />
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/images/favicons/apple-touch-icon-precomposed.png" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicons/favicon.png" />
    <link rel="icon" type="image/ico" href="/images/favicons/favicon.ico" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!-- rss -->
    <link href="<%= default_feeds_url_helper %>/rwpod" rel="alternate" title="<%=h default_title_helper %>" type="application/rss+xml">
    <!-- GA BEGIN -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37809843-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- GA END -->
</head>
<body>
  <!--[if lt IE 7]>
    <div class="row">
      <div class="large-12 columns">
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      </div>
    </div>
  <![endif]-->

  <div class="row">
    <div class="large-4 columns">
      <h1 class="logo">
        <%= link_to image_tag("logo.png", alt: default_title_helper, title: default_title_helper), "/" %>
      </h1>
    </div>
    <div class="large-8 columns">
      <%= partial "partials/header_bar" %>
    </div>
  </div>

  <!-- Nav Bar -->

  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-8 columns">
          <h4 class="subheader"><%= default_main_description_helper %></h4>
        </div>
        <div class="large-4 columns">
          <% if content_for?(:subscribe_panel) %>
            <%= yield_content :subscribe_panel %>
          <% else %>
            <%= partial "partials/subscribe_box" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- End Nav -->

  <!-- Main Page Content and Sidebar -->

  <div class="row main-block">

    <!-- Main Blog Content -->
    <div class="large-9 columns main-content">
      <% if is_blog_article? # show blog %>
        <%= partial "partials/article", locals: { article: current_article, yield_obj: yield } %>
        <%= partial "partials/shared_panel" %>
        <%= partial "partials/article_comments" %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->

    <aside class="large-3 columns">

      <div class="panel">
        <h5>Есть чем поделиться с нами? <%= hex_mail_to default_email_helper, "Напишите нам." %></h5>
      </div>

      <h5>Архив</h5>
      <ul class="side-nav">
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><a href="<%= blog_year_path year %>"><%= year %> (<%= articles.size %>)</a></li>
        <% end %>
        <li class="divider"></li>
      </ul>

      <div class="hide-for-small hide-for-medium show-for-landscape">
        <a class="twitter-timeline" href="https://twitter.com/rwpod" data-widget-id="293816296280297473">Твиты пользователя @rwpod</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row main-footer">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p>
            &copy; <%= default_footer_copyright_helper %>
            &nbsp;
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
          </p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <%= partial "partials/footer_links" %>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- disqus count -->
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'rwpod'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>

</body>
</html>
