<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title ? "#{data.page.title} | #{default_title_helper}" : default_title_helper %></title>
    <meta name="keywords" content="<%= default_keywords_helper %>">
    <meta name="description" content="<%= default_description_helper %>">
    <!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/images/favicons/apple-touch-icon-precomposed.png">
    <!-- favicon -->
    <link rel="icon" href="/images/favicons/favicon.ico" type="image/x-icon" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!-- GA BEGIN -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37809843-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- GA END -->
</head>
<body>
  <!--[if lt IE 7]>
    <div class="row">
      <div class="twelve columns">
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      </div>
    </div>
  <![endif]-->
  
  <div class="row">
    <div class="three columns">
      <h1>
        <%= link_to image_tag("http://placehold.it/400x100&amp;text=Logo"),  "/" %>
      </h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar">
        <%= partial "partials/main_links" %>
      </ul>
    </div>
  </div>
  
  <!-- Nav Bar -->

  <div class="row">
    <div class="twelve columns">
      <div class="row">
        <div class="eight columns">
          <h2>
            <small><%= default_long_description_helper %></small>
          </h2>
        </div>
        <div class="four columns">
          <div class="panel right">
            <%= link_to 'iTunes', '/rss.xml', class: "fc-webicon apple large" %>
            <%= link_to 'RSS', 'http://feeds.feedburner.com/rwpod', class: "fc-webicon rss large" %>
            <%= link_to 'Twitter', 'https://twitter.com/rwpod', class: "fc-webicon twitter large" %>
            <%= link_to 'Facebook', 'http://www.facebook.com/rwpod', class: "fc-webicon facebook large" %>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <!-- End Nav -->


  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="nine columns" role="content">
      <% if is_blog_article? %>
        <h1><%= current_article.title %></h1>
      <% end %>
      <%= yield %>
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->

    <aside class="three columns">

      <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">News</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Fun</a></li>
        <li><a href="#">Weasels</a></li>
      </ul>

      <div class="panel">
        <h5>Featured</h5>
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
        <a href="#">Read More &rarr;</a>
      </div>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; <%= default_footer_copyright_helper %></p>
        </div>
        <div class="six columns">
          <ul class="inline-list right">
            <%= partial "partials/main_links" %>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
<!--
   <aside>
      <h2>Recent Articles</h2>
      <ol>
        <% blog.articles[0...10].each do |article| %>
          <li><a href="<%= article.url %>"><%= article.title %></a> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>

      <h2>Tags</h2>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><a href="<%= tag_path tag %>"><%= tag %> (<%= articles.size %>)</a></li>
        <% end %>
      </ol>

      <h2>By Year</h2>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><a href="<%= blog_year_path year %>"><%= year %> (<%= articles.size %>)</a></li>
        <% end %>
      </ol>
    </aside>
-->
  </body>
</html>
