<div class="header row">
  <div class="left"><%= truncated_article_title(article) %></div>
  <div class="right"><small><%= article_date(article) %></small></div>
</div>
<div class="content">
  <div class="row">
    <div class="col1of4 prs">
      <%= image_tag (article.data.main_image || "http://placehold.it/200x200&text=RWpod"), alt: article.title, title: article.title, width: '132' %>
    </div>
    <div class="col3of4">
      <h1 class="mbs">
        <%= link_to article.title, article %>
      </h1>
      <%= audio_tag article %>
    </div>
  </div>
  <hr />
  <div class="row">
    <%= defined?(yield_obj) ? yield_obj : article.summary %>
  </div>
</div>
<div class="footer pam">
  <hr />
  <%= link_to "0 Comments and 0 Reactions", "#{default_main_url_helper}#{article.url}#disqus_thread", class: 'icon-chat' %>
</div>
<!-- for google -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "@id": <%= "#{default_main_url_helper}#{article.url}".inspect %>,
  "url": <%= "#{default_main_url_helper}#{article.url}".inspect %>,
  "mainEntityOfPage": <%= "#{default_main_url_helper}#{article.url}".inspect %>,
  "headline": <%= truncate(article.title, length: 100).inspect %>,
  "alternativeHeadline": <%= truncated_article_title(article).inspect %>,
  "image": {
    "@type": "ImageObject",
    "url": <%= "#{default_big_image_helper}".inspect %>,
    "height": 2048,
    "width": 2048
  },
  "author": {
    "@type": "Person",
    "name": "RWpod team"
  },
  "publisher": {
    "@type": "Organization",
    "name": "RWpod",
    "logo": {
      "@type": "ImageObject",
      "url": <%= "#{default_main_url_helper}#{asset_path(:images, "schema_logo.png")}".inspect %>,
      "width": 600,
      "height": 60
    }
  },
  <% if article.data.audio_url %>
  "audio": <%= article.data.audio_url.inspect %>,
  <% end %>
  "datePublished": <%= article.date.strftime('%FT%T').inspect %>,
  "dateModified": <%= article.date.strftime('%FT%T').inspect %>
}
</script>
