<h3>
  <% link_to article do %>
    <%= article_icon(article) %><%= article.title %>
  <% end %>
</h3>
<h6><%= article.date.strftime('%d.%m.%Y') %>, <%= link_to "0 Comments and 0 Reactions", "#{default_main_url_helper}#{article.url}#disqus_thread" %></h6>

<div class="row">
  <% if article.data.main_image %>
    <div class="large-8 small-12 columns">
      <%= defined?(yield_obj) ? yield_obj : article.summary %>
    </div>
    <div class="large-4 columns hide-for-small">
      <img src="<%= article.data.main_image || "http://placehold.it/200x150&text=[img]" %>" alt="<%= article.title %>" title="<%= article.title %>" />
    </div>
  <% else %>
    <div class="large-12 columns">
      <%= defined?(yield_obj) ? yield_obj : article.summary %>
    </div>
  <% end %>
</div>

<div class="row tags">
  <div class="large-12 columns">
    <ul class="inline-list">
      <% article.tags.each do |tag| %>
        <li><a href="<%= tag_path tag %>"><%= tag %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style " style="padding: 10px 0">
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <a class="addthis_button_tweet"></a>
  <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
</div>
<!-- AddThis Button END -->
<script type="text/javascript">var addthis_config = { "data_track_addressbar":true };</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-527012705413f0b7"></script>
<!-- AddThis Button END -->