<div class="header row">
  <div class="left"><%= article.title.split('.')[0] %></div>
  <div class="right"><%= article.date.strftime('%d.%m.%Y') %></div>
</div>
<div class="content">
  <div class="row">
    <div class="col1of4">
      <img src="<%= article.data.main_image || "http://placehold.it/200x150&text=[img]" %>" alt="<%= article.title %>" title="<%= article.title %>" />
    </div>
    <div class="col3of4">
      <h1>
        <% link_to article do %>
          <%= article.title %>
        <% end %>
      </h1>
    </div>
  </div>
  <hr />
  <div class="row">
    <%= defined?(yield_obj) ? yield_obj : article.summary %>
  </div>
</div>
<div class="footer pam">
  <%= link_to "0 Comments and 0 Reactions", "#{default_main_url_helper}#{article.url}#disqus_thread" %>
</div>
