<li class="<%= current_link_class("index.html") %>"><%= link_to 'Главная', '/' %></li>

<% if blog.tags["podcasts"] && blog.tags["podcasts"].length > 0 %>
  <li class="<%= current_link_class("posts/categories/podcasts.html") %>"><%= link_to 'Подкасты', "/posts/categories/podcasts.html" %></li>
<% end %>

<% if blog.tags["screencasts"] && blog.tags["screencasts"].length > 0 %>
  <li class="<%= current_link_class("posts/categories/screencasts.html") %>"><%= link_to 'Скринкасты', "/posts/categories/screencasts.html" %></li>
<% end %>

<li class="<%= current_link_class("about.html") %>"><%= link_to 'О нас', '/about.html' %></li>
