<div class="mbm">
  <h3 class="mbs">Есть чем поделиться с нами?</h3>

  <% link_to mail_to_hex(default_email_helper), class: 'button mbs' do %>
    <%= svg_sprite 'envelope', class: 'sidebar-button-icon' %>
    Написать на почту
  <% end %>

  <h3 class="mbs">или в чат:</h3>

  <a href="https://t.me/rwpod" class="button mbs" target="_blank" rel="noopener noreferrer">
    <%= svg_sprite 'telegram', class: 'sidebar-button-icon' %>
    Telegram чат
  </a>
</div>

<div class="mbl">
  <h2>Архив</h2>
  <ul class="side-nav">
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <li><a href="<%= blog_year_path year %>"><%= year %> (<%= articles.size %>)</a></li>
    <% end %>
  </ul>
</div>

