---
import SvgIcon from '@components/SvgIcon.astro'
import Sidebar from '@components/Sidebar.astro'
import { getMainImageAttributes } from '@utils/posts'

const { post, fullText } = Astro.props

const content = (() => {
  if (fullText) {
    return post.compiledContent()
  }
  return post.frontmatter.summaryHTML
})()

const postImg = getMainImageAttributes(post)
---
<style>
  .main-article-block {
    display: flex;
    padding: 1rem;
    gap: 1rem;
  }

  .mainbar {
    flex: 1;
  }

  .sidebar {
    flex-basis: 33.333%;
  }

  .article {
    background: hsl(0deg 0% 100%);
    border: 1px solid hsl(0deg 0% 88%);
  }

  .article-header {
    display: flex;
    gap: 1rem;
    background: hsl(178deg 88% 26%);
    color: hsl(0deg 0% 100%);
    padding: 0.75rem 1rem;
  }

  .article-headtitle {
    flex: 1;
  }

  .article-date {
    flex-basis: 4rem;
    font-size: 0.85rem;
  }

  .article-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .article-metadata {
    display: flex;
    gap: 0.5rem;
  }

  .article-main-image {
    aspect-ratio: 1/1;
    border: 1px solid hsl(44deg 14% 79%);
    max-width: 100%;
    height: auto;
    flex-basis: 7.5rem;
    box-sizing: content-box;
  }

  .article-frontmatter {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .article-media-info {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  .track-play-button {
    background-color: hsl(13deg 61% 55%);
    border: none;
    border-radius: 3px;
    color: hsl(0deg 0% 100%);
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .track-play-button:active {
    background-color: hsl(13deg 71% 55%);
  }

  .svg-icon__hidden {
    display: none;
  }

  .article-media-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    flex-basis: 60rem;
    flex-wrap: wrap;
  }

  .article-separator {
    border-top: 1px solid hsl(44deg 14% 79%);
    height: 0;
    margin: 0 1rem;
  }

  .article-content {
    padding: 1rem;
  }

  .article-content :global(li > p) {
    margin: 0;
  }
</style>

<div class="main-article-block">
  <div class="mainbar">
    <article class="article">
      <div class="article-header">
        <div class="article-headtitle">{post.frontmatter.headlineTitle}</div>
        <div class="article-date">{post.frontmatter.formatedDate}</div>
      </div>
      <div class="article-info">
        <div class="article-metadata">
          <img
            class="article-main-image"
            src={postImg.src}
            srcset={postImg.srcset}
            alt={post.frontmatter.title}
            title={post.frontmatter.title}
            loading="lazy"
            width={postImg.size}
            height={postImg.size}
          />
          <div class="article-frontmatter">
            <h1>
              <a href={post.url} data-turbo-preload="true">
                {post.frontmatter.title}
              </a>
            </h1>
            <div class="article-media-info">
              <button class="track-play-button" aria-label="Play podcast audio" data-audio-url={post.frontmatter.audio_url} data-title={post.frontmatter.title} data-image={post.frontmatter.main_image} data-link={post.frontmatter.url}>
                <SvgIcon name="play" size="2rem" class="svg-icon--play" />
                <SvgIcon name="stop" size="2rem" class="svg-icon--stop svg-icon__hidden" />
              </button>
              <div class="article-media-data">
                <div>{post.frontmatter.duration} ({post.frontmatter.audioSize})</div>
                <a href={post.frontmatter.audio_url}>Завантажити</a>
                {post.frontmatter.audio_aac_url &&
                  <Fragment>
                    , <a href={post.frontmatter.audio_aac_url}>AAC</a>
                  </Fragment>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="article-separator"></div>
      <div class="article-content">
        <Fragment set:html={content} />
      </div>
    </article>
  </div>
  <div class="sidebar">
    <Sidebar />
  </div>
</div>
