---
import SvgIcon from '@components/SvgIcon.astro'
import Sidebar from '@components/Sidebar.astro'
import AudioButton from '@components/AudioButton.svelte'
import { getMainImageAttributes } from '@utils/posts'

const { post, fullText } = Astro.props

const content = (() => {
  if (fullText) {
    return post.compiledContent()
  }
  return post.frontmatter.summaryHTML
})()

const postImg = getMainImageAttributes(post)
const audioInfo = {
  url: post.url,
  title: post.frontmatter.title,
  mainImage: post.frontmatter.main_image,
  audioUrl: post.frontmatter.audio_url
}
---
<style>
  .main-article-block {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }

  .mainbar {
    flex-basis: calc(100% * 2 / 3 - 0.3rem);
  }

  .sidebar {
    flex-basis: calc(100% / 3 - 1rem);
  }

  .article {
    background: hsl(0deg 0% 100%);
    border: 1px solid hsl(0deg 0% 88%);
  }

  .article-header {
    display: flex;
    gap: 1rem;
    background: hsl(178deg 88% 26%);
    color: hsl(0deg 0% 100%);
    padding: 0.75rem 1rem;
  }

  .article-headtitle {
    flex: 1;
  }

  .article-date {
    flex-basis: 4rem;
    font-size: 0.85rem;
  }

  .article-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .article-metadata {
    display: flex;
    gap: 0.5rem;
  }

  .article-main-image-wrapper {
    flex-basis: 10rem;
  }

  .article-main-image {
    aspect-ratio: 1/1;
    border: 1px solid hsl(44deg 14% 79%);
    max-width: 100%;
    height: auto;
    box-sizing: content-box;
  }

  .article-frontmatter {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .article-media-info {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  .article-media-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    flex-basis: 60rem;
    flex-wrap: wrap;
  }

  .article-separator {
    border-top: 1px solid hsl(44deg 14% 79%);
    height: 0;
    margin: 0 1rem;
  }

  .article-content {
    padding: 1rem;
  }

  .article-content :global(li > p) {
    margin: 0 0 0.5rem;
  }

  @media screen and (max-width: 600px) {
    .mainbar {
      flex-basis: 100%;
    }

    .sidebar {
      display: none;
    }

    .article-media-data {
      display: none;
    }
  }

  @media screen and (max-width: 400px) {
    .article-main-image-wrapper {
      display: none;
    }
  }
</style>

<div class="main-article-block">
  <div class="mainbar">
    <article class="article">
      <div class="article-header">
        <div class="article-headtitle">{post.frontmatter.headlineTitle}</div>
        <div class="article-date">{post.frontmatter.formatedDate}</div>
      </div>
      <div class="article-info">
        <div class="article-metadata">
          <div class="article-main-image-wrapper">
            <img
              class="article-main-image"
              src={postImg.src}
              srcset={postImg.srcset}
              alt={post.frontmatter.title}
              title={post.frontmatter.title}
              loading="lazy"
              width={postImg.size}
              height={postImg.size}
            />
          </div>
          <div class="article-frontmatter">
            <h1>
              <a href={post.url} data-turbo-preload="true">
                {post.frontmatter.title}
              </a>
            </h1>
            <div class="article-media-info">
              <AudioButton client:load audioInfo={audioInfo}>
                <SvgIcon slot="playIcon" name="play" size="2rem" />
                <SvgIcon slot="stopIcon" name="stop" size="2rem" />
              </AudioButton>
              <div class="article-media-data">
                <div>{post.frontmatter.duration} ({post.frontmatter.audioSize})</div>
                <a href={post.frontmatter.audio_url}>Завантажити</a>
                {post.frontmatter.audio_aac_url &&
                  <Fragment>
                    , <a href={post.frontmatter.audio_aac_url}>AAC</a>
                  </Fragment>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="article-separator"></div>
      <div class="article-content">
        <Fragment set:html={content} />
      </div>
    </article>
  </div>
  <div class="sidebar">
    <Sidebar />
  </div>
</div>
