---
pageable: true
per_page: 50
---
<h1>Архив за
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h1>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %>&nbsp;<span><%= article.date.strftime('%b %d') %></span></li>
  <% end %>
</ul>

<% if paginate %>
  <ul class="pagination">
    <% if prev_page %>
      <li><%= link_to '&laquo; Позже', prev_page %></li>
    <% end %>
    <% if next_page %>
      <li><%= link_to 'Раньше &raquo;', next_page %></li>
    <% end %>
  </ul>
<% end %>
