<%# encoding: utf-8 %>
---
pageable: true
per_page: 50
---
<h1 class="tags-title">Архив за
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %> год
  <% end %>
</h1>

<ul class="tags-list">
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %>&nbsp;<span class="date">(<%= article_short_date(article) %>)</span></li>
  <% end %>
</ul>

<%= partial "partials/pagination", locals: {
  paginate: (defined?(paginate) ? paginate : nil),
  prev_page: (defined?(prev_page) ? prev_page : nil),
  next_page: (defined?(next_page) ? next_page : nil)
} %>

