---
import AppLayout from '@layouts/app.astro'
import Pages from '@components/Pages.astro'
import { getPosts } from '@utils/posts'

export const getStaticPaths = async ({ paginate }) => paginate(await getPosts(), { pageSize: 30 })

const { page } = Astro.props
---

<style>
  .podcasts-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.8rem;
  }
  .post-list {
    font-size: 1rem;
    list-style: none;
  }

  .post-list-item {
    border-bottom: 1px solid hsl(42deg 28% 84%);
    line-height: 1.6;
    padding: 0.25rem 0;
  }
</style>

<AppLayout title="Подкасти">
  <h1 class="podcasts-title">
    Подкасти - #{page.currentPage} сторінка
  </h1>
  <ul class="post-list">
    {
      page.data.map((post) => (
        <li class="post-list-item">
          [{post.data.formatedDate}]<a href={post.url}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
  <Pages page={page} />
</AppLayout>
